*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    /* background: #6E815B; */
    
}
.main
{
    width: 100%;
    height: 100%;
    
    /* background-color: #E2C891; */
    /* background-color: #6E815B; */
    background-color: white;
}
.page1{
     color: white;
     width: 100%;
     height: 100%;
}
.page2{

    width: 100%;
    height:100%;
    background-color: #6E815B;
}
.page1>button{
    background-color: greenyellow;
    border-radius: 50%;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: 14px;
}
pre{
    color: rgb(88, 84, 84);
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    top: 5%;
    left: 10%;
}
.search{
    position: absolute;
    top:4% ;
    left: 30%;

}
h1{
    position: absolute;
    color: black;
    left: 10%;
    top: 30%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;

    
}
 .image1{
    position: absolute;
    left: 55%;
    top: 10%;
    border-radius: 80%; 

}
.image2{
    position: absolute;
    top: 0%;
    left: 45%;
} 
p{
    color: black;
    position: absolute;
    left: 10%;
    top:58%
    

}
 .left >h1{ 
    
    width: 30%;
    height: 70%;
    position: absolute;
    left: 10%;
    top: 130%;
} 
.Page2>p{
    color: black;
    position: absolute;
    left: 10%;
    top: 1100px;
}
.right{
    /* background-color: rgb(0, 30, 255); */
    width: 30%;
    height: 98%;
    position: absolute;
    left: 65%;
    top: 100%;
    border-radius: 10%;
   box-shadow: 0 0 2px black;
}
.image3
{
    position: absolute;
    top: 0.8%;
    left: 3%;
    border-radius: 8%;
}
h2{
    color: black;
    position: absolute;
    top: 45%;
    left: 8%;
} 
.middle
{
/*    background-color: #E2C891; */
    width: 380px;
    height: 70%;
    position: absolute;
    left: 450px;
    top: 120%;
    border-radius: 10%;
    box-shadow: 0 0 2px black;
}
.middle>img{
    position: absolute;
    left: 4%;
    top: 2%;
    border-radius: 5%;
}
.mid>h2{
    color: black;
    position: absolute;
    top: 52%;
}
.mid>h4{
    color: black;
    position: absolute;
    top: 60%;
    left: 5%;
    
}
.right>h5{
    color: black;
    position: absolute;
    top: 50%;
    left: 5%;
}
.Arrow1 >img{
    position: absolute;
    top: 158%;
    left: 9%;
  
}
.Arrow2>img{
position: absolute;
   top: 158%;
   left: 15%;
}
.round{
    position: absolute;
    top: 60%;
    left: 17%;
    height: 150px;
    width: 150px;
    background-color: rgb(215, 152, 36);
    border-radius: 89%;
    align-items:  center;
    justify-content: center;
    display: flex;
    z-index: 0;
    
}
.ratio1
{
    width: 200px;
    height: 10px;
    background-color: green;
    position: absolute;
    top: 90%;
    left: 5%;
    border-radius: 50px;
}
.ratio2
{
    width: 100px;
    height: 10px;
    background-color: rgb(137, 244, 137);
    position: absolute;
    top: 90%;
    left:50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px ;
}
.ratio3
{
    width: 200px;
    height: 10px;
    background-color: green;
    position: absolute;
    top: 75%;
    left: 5%;
    border-radius: 50px;
}
.ratio4
{
    width: 100px;
    height: 10px;
    background-color: rgb(137, 244, 137);
    position: absolute;
    top: 75%;
    left:50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px ;
}
.text{
    width: 200px;
    position: absolute;
    top:84%;
    left: 5%;
}
.text2{
    position: absolute;
    top: 94%;
}
.text3{
    position: absolute;
    top: 70%;
}
.text4{
    position: absolute;
    top:78% ;
}
.btn{
    position: absolute;
    top: 90%;
    left: 15%;
    height: 25%;
    width: 20%;
    border-radius: 50px;
}
.btn1{
    width: 140%;
    background-color:#008000;
    height: 30%;
    border-radius: 50px;
    border: none;
    color: white;
}
.heart{
    position: absolute;
    top: 92%;
    left: 55%;
    color: black;
}